@media(max-width:1200px)
{
    header{
        width: 100%;
        height: 550px;
    }
    .sub{
        width: 70%;
    }
    nav{
        width: 70%;
        display: block;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
    }
    nav ul li a{
        font-size: 15px;
    }
    .logo{
        width: 30%;
    }
    .logo1{
        width: 35%;
    }
    .img1{
        display: none;
    }
    .text{
        width: 60%;
        position: absolute;
        top: 200px;
        left: 180px;
    }
    .text1{
        font-size:35px;
    }
    .bbb{
        height: 80px;
        position: absolute;
        left: 0%;
        top: 500px;
    }
    .cc1{
        font-size: 16px;
    }
    .cc2{
        font-size: 30px;
    }
}
@media(max-width:980px)
{
    .sub{
        width: 100%;
    }
    nav{
        width: 70%;
        display: block;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
    }
    nav ul li a{
        font-size: 15px;
    }
    .logo{
        width: 30%;
    }
    .logo1{
        width: 35%;
    }
    .img1{
        display: none;
    }
    .text{
        width: 60%;
        position: absolute;
        top: 200px;
        left: 150px;
    }
    .text1{
        font-size:35px;
    }
    .a21{
        width: 80%;

    }
    .bbb{
        height: 80px;
        position: absolute;
        left: -40px;
        top: 500px;
    }
    .cc1{
        font-size: 16px;
    }
    .cc2{
        font-size: 22px;
    }
    .d21{
        width: 100%;
    }
}
@media(max-width:720px)
{
    header{
        width: 100%;
        height: 550px;
    }
    .sub{
        width: 100%;
    }
    nav{
        display: none;
    }
    .logo{
        width: 40%;
    }
    .logo1{
        width: 40%;
    }
    .img1{
        display: none;
    }
    .text{
        width: 80%;
        position: absolute;
        top: 200px;
        left: 30px;
    }
    .text1{
        font-size:35px;
    }
    .a2{
        height:800px;
    }
    .a21{
        flex-direction: column;
        width: 100%;
    }
    .aa{
        height: 500px;
        width: 100%;
    }
    .b{
        height: 500px;
        margin-top:380px;
    }
    .bb1{
        display: none;
    }
    .bb111{
        display: none;
    }
    .bbb12{
        position: absolute;
        left: -40px;
        top:10px;
    }
    .bbb13{
        position: absolute;
        left: -40px;
        top: 150px;
    }
    .c{
        height: 1250px;
    }
    .c11{
        width: 80%;
    }
    .cc{
        width: 100%;
    }
    .cc1{
        font-size: 16px;
    }
    .cc2{
        font-size: 22px;
    }
    .cc11{
        width: 100%;
    }
    .ccc{
        margin-left: -15px;
        font-size: 16px;
    }
    .c2{
        height: 1000px;
    }
    .c21{
        width: 100%;
        flex-wrap: wrap;
    }
    .c22{
        width: 48%;
        height: 250px;
    }
    .d{
        height: 400px;
        width: 100%;
    }
    .d1{
        height: 100%;
        width: 100%;
    }
    .d11{
        width: 95%;
    }
    .but4{
        margin-left: 260px;
    }
    .d2{
        height: 600px;
    }
    .d21{
        width: 100%;
        flex-direction: column;
    }
    .dd{
        width: 100%;
    }
    .e{
        margin-top: 600px;
    }
    .z1{
        width: 100%;
    }
    .dc{
        flex-wrap: wrap;
    }
    .dc1{
        text-align: center;
        width: 100%;
    }


}
@media(max-width:480px)
{
    header{
        width: 100%;
    }
    .sub{
        width: 100%;
    }
    nav{
        display: none;
    }
    .logo{
        width: 40%;
    }
    .logo1{
        width: 30%;
    }
    .img1{
        display: none;
    }
    .text{
        width: 90%;
        position: absolute;
        top: 200px;
        left: 30px;
    }
    .text1{
        font-size:35px;
    }
    .a2{
        height:800px;
    }
    .a21{
        flex-direction: column;
        width: 100%;
    }
    .aa{
        height: 500px;
        width: 100%;
    }
    .b{
        height: 500px;
        margin-top:380px;
    }
    .bb1{
        display: none;
    }
    .bb111{
        display: none;
    }
    .bbb12{
        position: absolute;
        left: -40px;
        top:10px;
    }
    .bbb13{
        position: absolute;
        left: -40px;
        top: 150px;
    }
    .c{
        height: 1810px;
    }
    .c11{
        width: 80%;
        flex-direction: column;
    }
    .cc{
        width: 100%;
    }
    .cc1{
        font-size: 16px;
    }
    .cc2{
        font-size: 22px;
    }
    .cc11{
        width: 100%;
    }
    .ccc{
        margin-left: -15px;
        font-size: 16px;
    }
    .c2{
        height: 260vh;
    }
    .c21{
        width: 100%;
        flex-direction: column
    }
    .c22{
        width: 100%;
        height: 300px;
    }
    .d{
        height: 400px;
        width: 100%;
    }
    .d1{
        height: 100%;
        width: 100%;
    }
    .d11{
        width: 95%;
    }
    .d111{
        font-size: 35px;
    }
    .d112{
        font-size: 18px;
    }
    .but4{
        margin-left: 150px;
    }
    .d2{
        height: 600px;
    }
    .d21{
        width: 100%;
        flex-direction: column;
    }
    .dd{
        width: 100%;
    }
    .e{
        margin-top: 600px;
    }
    .but5{
        margin-left: 150px;
    }
    .z1{
        width: 100%;
        flex-direction: column;
    }
    .z11{
        width: 100%;
    }
    .z12{
        width: 100%;
    }
    .dc{
        margin-top: 650px;
        flex-wrap: wrap;
    }
    .dc1{
        text-align: center;
        width: 100%;
    }

}